@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-5rem) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-10rem) scale(0.8);
    opacity: 0;
  }
}

.floating-text {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2.4rem; /* Aumentado */
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
  animation: floatUp 3s ease-out forwards;
  z-index: 1000;
}