/* src/components/FoundryView.css */
.foundry-view-container {
  background-color: #111827;
  color: #E5E7EB;
  padding: 1.6rem;
  font-family: Inter, sans-serif;
  max-height: 80vh; /* O la altura que prefieras */
  overflow-y: auto;
}

.foundry-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.foundry-view-header h2 {
  font-size: 2.4rem;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.close-button {
  padding: 0.8rem 1.6rem;
  background-color: #EF4444;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.foundry-item {
  padding: 1.6rem;
  background-color: #1F2937;
  border-radius: 0.8rem; /* Aumentado */
  margin-bottom: 1.6rem;
  border: 2px solid #374151;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.foundry-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.4rem;
  flex-shrink: 0;
}

.foundry-item-content {
  flex-grow: 1;
}

.foundry-item-info {
  flex-grow: 1;
}

.foundry-item h4 {
  margin-top: 0;
  font-size: 1.8rem;
}

.foundry-item p {
  margin: 0.4rem 0; /* Espaciado reducido */
  font-size: 1.4rem;
}


.craft-button {
  padding: 1.2rem 2.4rem;
  background-color: #9CA3AF;
  color: #0F172A;
  border: none;
  border-radius: 0.4rem;
  cursor: not-allowed;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  width: auto;
}

.craft-button.available {
  background-color: #22C55E;
  cursor: pointer;
}

.section-title {
  border-bottom: 1px solid #4B5563;
  padding-bottom: 0.8rem;
  margin-top: 3.2rem;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .foundry-view-container {
    padding: 1.2rem;
  }

  .foundry-view-header {
    margin-bottom: 1.6rem;
  }

  .foundry-item {
    padding: 1.2rem;
    flex-direction: column;
  }
}
