/* src/components/GameScene.css */
.game-scene-container {
  background-color: #0F172A;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #E5E7EB;
  display: flex;
  flex: 1; /* Ocupa el espacio disponible */
  flex-direction: column;
  overflow: hidden; /* Evita el scroll en toda la página */
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden; /* Clave: hace que el contenido se ajuste al espacio */
}

.module-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Mágico: añade scroll SÓLO aquí si es necesario */
  padding: 1rem; /* Espacio para que el contenido no se pegue al borde */
  box-sizing: border-box;
}

.collection-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  padding: 2rem;
}

.energy-warning {
  padding: 0.8rem 1.6rem;
  background-color: #450A0A;
  color: #FEE2E2;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 2px solid #7F1D1D;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column-reverse;
  }
  
  .collection-button-container {
    padding: 1rem;
    justify-content: center;
  }
}
