/* src/components/IntroScene.css */
.intro-scene-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  overflow: hidden; /* Evita barras de scroll si el video se desborda */
  display: flex; /* A単adido para centrar */
  justify-content: center; /* A単adido para centrar */
  align-items: center; /* A単adido para centrar */
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Muestra el video completo sin deformarse, puede a単adir barras negras */
}

.skip-intro-button {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  padding: 1rem 2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: #FFF;
  border: 1px solid #FFF;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.skip-intro-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .skip-intro-button {
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
  }
}
