/* src/components/IntroScene.css */
.intro-scene-container {
  background-color: #000;
  color: #00FF41;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex: 1; /* Ocupa el espacio disponible del contenedor padre */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
  box-sizing: border-box;
}

.text-box {
  width: 100%;
  max-width: 80rem; /* 800px */
  border: 2px solid #00FF41;
  padding: 3.2rem;
  box-shadow: 0 0 15px #00FF41;
}

.intro-text {
  font-size: 1.9rem !important; /* Tamaño final ajustado según tu preferencia */
  line-height: 1.6;
  margin: 0;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

.continue-button {
  margin-top: 3.2rem;
  padding: 1.6rem 3.2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem; /* 20px */
  background-color: transparent;
  color: #00FF41;
  border: 2px solid #00FF41;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes pulse {
  0% { box-shadow: 0 0 5px #00FF41; }
  50% { box-shadow: 0 0 20px #00FF41; }
  100% { box-shadow: 0 0 5px #00FF41; }
}

@media (max-width: 768px) {
  .intro-scene-container {
    padding: 1.6rem;
  }

  .text-box {
    padding: 1.6rem;
  }

  .intro-text {
    font-size: 1.6rem !important; /* Tamaño ajustado para móvil */
  }

  .continue-button {
    font-size: 2rem;
    padding: 1.2rem 2.4rem;
  }
}
