/* src/components/QueueControls.css */
.cancel-button-group {
  display: flex;
  flex-grow: 1;
  gap: 0.8rem;
  height: 100%;
}

.cancel-button {
  flex: 1; /* Para que ambos botones se repartan el espacio */
  background-color: #ef4444; /* Rojo */
  border: 2px solid #f87171; /* Borde rojo más claro */
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: #ffffff; /* Texto blanco */
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  height: 100%; /* Para que ocupe la misma altura que el botón de encargar */
}

.cancel-button:hover {
  background-color: #dc2626; /* Rojo más oscuro */
  border-color: #ef4444;
  transform: translateY(-1px);
}
