/* src/components/QueueControls.css */
.queue-controls-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.button-group {
  display: flex;
  gap: 0.8rem;
}

.cancel-button {
  flex-grow: 1;
  background-color: #FBBF24;
  border: none;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: #1F2937;
  font-size: 1.4rem;
}

.time-info {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  background-color: #374151;
  border-radius: 0.4rem;
  margin-top: 0.8rem;
}

.progress-bar {
  background-color: #22C55E;
  height: 0.5rem;
  border-radius: 0.4rem;
}
