/* src/components/ResourceBar.css */
.resource-bar {
  background-color: #111827;
  color: #E5E7EB;
  padding: 1.4rem; /* Reducido */
  border: 2px solid #1F2937;
  border-radius: 1.8rem; /* Reducido */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, sans-serif;
  margin: 0.9rem; /* Reducido */
  box-shadow: 0 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.3);
  font-size: 1.4rem; /* Reducido */
}

.resource-group {
  display: flex;
  align-items: center;
  gap: 2.2rem; /* Reducido */
}

.resource-item {
  display: flex;
  align-items: center;
}

.resource-item,
.drones-item,
.rates-item {
  background: transparent !important;
}

.resource-item .icon {
  font-size: 1.6rem; /* Reducido */
  margin-right: 0.7rem; /* Reducido */
}

.drones-group {
  display: flex;
  align-items: center;
  gap: 1.4rem; /* Reducido */
}

.drones-item {
  display: flex;
  align-items: center;
}

.drones-item span {
  margin-right: 0.7rem; /* Reducido */
}

.rates-group {
  display: flex;
  align-items: center;
  gap: 2.2rem; /* Reducido */
}

.rates-item {
  display: flex;
  align-items: center;
}

.rates-item .icon {
  margin-right: 0.7rem; /* Reducido */
}

.resource-icon-img {
  width: 2.0rem;
  height: 2.0rem;
  margin-right: 0.7rem;
}

.positive-rate {
  color: #22C55E;
}

.negative-rate {
  color: #EF4444;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .resource-bar {
    flex-direction: column;
    padding: 1.1rem; /* Reducido */
    gap: 1.1rem; /* Reducido */
    font-size: 1.3rem; /* Reducido */
  }

  .resource-group,
  .drones-group,
  .rates-group {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1rem; /* Reducido */
  }
}
