/* src/components/SettingsMenu.css */
.settings-menu-container {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  z-index: 1000;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.settings-menu-content {
  padding: 1.6rem;
  background-color: #111827;
  border-radius: 0.8rem;
  border: 2px solid #374151;
  margin-bottom: 0.8rem;
  width: 28rem;
}

.settings-section-title {
  color: #E5E7EB;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 1.6rem;
}

.volume-control {
  margin-bottom: 1.6rem;
}

.volume-control label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.volume-control input[type="range"] {
  width: 100%;
}

.settings-button {
  padding: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

.credits-button {
  background-color: #374151;
}

.dev-section-title {
  color: #EF4444;
  font-size: 1.4rem;
}

.dev-button {
  padding: 0.8rem;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1.6rem;
  width: 100%;
}

.unlock-button {
  background-color: #EF4444;
}

.complete-vindicator-button {
  background-color: #F59E0B;
}

.finish-expeditions-button {
  background-color: #10B981;
}

.reset-button {
  background-color: #991B1B;
}

.exit-button {
  background-color: #1E40AF;
}

.settings-toggle-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #374151;
  background-color: #1F2937;
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .settings-menu-container {
    bottom: 0.8rem;
    right: 0.8rem;
  }
}
