/* src/components/SettingsMenu.css */
.settings-menu-container {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  z-index: 1000;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.settings-menu-content {
  padding: 1.6rem;
  background-color: #111827;
  border-radius: 0.8rem;
  border: 2px solid #374151;
  margin-bottom: 0.8rem;
  width: 28rem;
}

.settings-section-title {
  color: #E5E7EB;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 1.6rem;
}

.volume-control {
  margin-bottom: 1.6rem;
}

.volume-control label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.volume-control input[type="range"] {
  width: 100%;
}

.settings-button,
.dev-button {
  padding: 0.8rem;
  color: #E5E7EB; /* Texto claro */
  border: 1px solid #4B5563;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #374151; /* Fondo gris oscuro */
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s;
}

.settings-button:hover,
.dev-button:hover {
  background-color: #4B5563;
  border-color: #9CA3AF;
}

.dev-section-title {
  color: #EF4444;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 1rem;
}

/* Color específico para botones de "peligro" */
.reset-button,
.exit-button {
  background-color: #991B1B;
  border-color: #EF4444;
}

.reset-button:hover,
.exit-button:hover {
  background-color: #B91C1C;
  border-color: #F87171;
}

.settings-toggle-button {
  width: 6rem; /* Aumentado otro 10% */
  height: 6rem; /* Aumentado otro 10% */
  border-radius: 50%;
  border: 2px solid #374151;
  background-color: transparent; /* Fondo transparente para que la imagen sea la protagonista */
  cursor: pointer;
  padding: 0; /* Eliminar padding para que la imagen ocupe todo el espacio */
}

.settings-toggle-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el botón sin deformarse */
  border-radius: 50%; /* Mantener la forma circular */
}

@media (max-width: 768px) {
  .settings-menu-container {
    bottom: 0.8rem;
    right: 0.8rem;
  }
}
