.unlock-requirements {
  padding: 1.2rem;
  margin: 0.9rem;
  margin-top: 0;
  background-color: #111827;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  color: #9CA3AF;
  border: 1px solid #F59E0B;
  width: 30rem; /* Ancho fijo para consistencia */
}

.unlock-requirements ul {
  margin: 0.8rem 0;
  padding-left: 1.6rem;
  list-style-type: none;
}

.unlock-requirements li.completed {
  color: #22C55E;
}

.unlock-requirements li.incomplete {
  color: #EF4444;
}

.unlock-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.highlight-resource {
  color: #06B6D4;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(6, 182, 212, 0.7);
}