/* src/App.css */
html {
  font-size: 62.5%; /* Establece la base para que 1rem = 10px */
}

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0F172A; /* Color de fondo base por si acaso */
  color: #E5E7EB; /* Color de texto base */
  font-family: 'Inter', sans-serif; /* Fuente base para consistencia */
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%; /* En pantallas pequeñas, 1rem = 9px */
  }
}
